// Movies

h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.card {
    flex-wrap: wrap;
    ul {
        flex-basis: calc(100% / 5);
        margin-bottom: 3rem;
        padding: 10px 20px;
        border: 1px solid $white;
        list-style: none;
        li {
            padding-bottom: 4px;
            font-size: 0.8rem;
        }
    }
}